<div class="container">
    <div class="row">
        <div class="col-md-6 text-center text-md-start">
            <span>&copy; @DateTime.Now.Year - CampusEats</span>
        </div>
        <div class="col-md-6 text-center text-md-end">
            <a href="#" class="text-dark text-decoration-none me-3">Privacy</a>
            <a href="#" class="text-dark text-decoration-none me-3">Terms</a>
            <a href="#" class="text-dark text-decoration-none">Contact</a>
        </div>
    </div>
</div>